# this is where I change lik Macros and Env Variable.
# App
APP_NAME=GIS Cloud API

# Storage mode: local | aws
STORAGE_PROVIDER=local
UPLOAD_DIR=data/uploads

# AWS placeholders
AWS_REGION=ap-southeast-1
S3_BUCKET_NAME=your-bucket-name
